.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.metadata
build/
android/.gradle/
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
*.iml
*.lock
.artifacts/
.agents/
.DS_Store
